# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Build
/dist/
/build/

# IDE
.vscode/
.idea/

# Environment
.env
.env.local
.env.*.local

# Misc
*.swp
*.swo

# Coverage
coverage/

# Public
public/*.js
public/*.map

# Article samples
article_samples/*.md

# Others
*.bak
*.tmp
